{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "modules": false,
        "corejs": 3,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from", // 解决export a from 'a.js'问题
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      }
    ]
  ]
}