{   
    "extends": [
        "eslint:recommended",
        "airbnb", 
        "airbnb/hooks",
    ],
    "plugins": [
        "react", // eslint-plugin-react插件
        "babel", //  eslint-plugin-bable插件
        "import", //  eslint-plugin-import插件
        "jsx-a11y", //  eslint-plugin-jsx-a11y插件
        "react-hooks", //  eslint-plugin-react-hooks插件
      ],
      "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "Promise": "writable"
    },
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    // 0 === "off" 1 === "warn" 2 === "error"
    "rules": {
        /************************************** import *********************************/
        "import/no-unresolved": 0,
        "import/named": 2,
        "import/namespace": 2,
        "import/default": 2,
        "import/export": 2,
        "import/prefer-default-export": 1, // 一个导出使用 const bar = 'bar'; export default bar; 而非export const foo = 'foo';这种解构的方式  
        
        
         /************************************** jsx-a11y *********************************/
        "jsx-a11y/rule-name": 0,
        "jsx-a11y/anchor-is-valid": "warn", // a标签必须带href


        /************************************** react *********************************/
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-filename-extension": "off", // 必须jsx文件后缀
        "react/no-unused-class-component-methods": "warn", // react 方法定义但未使用warn


        /************************************** react hooks *********************************/
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",


        /************************************** js *********************************/
        "semi": [2, "never"], // 禁用分号
        "indent": ["error", 2], // 间隙2格
        "quotes": ["error", "single"], // 强制单引号
        "no-console": "off", // 禁止console
        "no-comma-dangle": "off", // 末尾逗号
        "linebreak-style": "off", // 统一换行风格
        "no-unused-vars": "warn", // 定义变量未使用只warn
        "max-len": ["warn", { "code": 200 }], // 每行最多200
        "prefer-promise-reject-errors": "off", // 要求使用 Error 对象作为 Promise 拒绝的原因
        "no-plusplus": "off", // 禁用一元操作符 ++ 和 --
    }
}
